@charset "utf-8";
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css");

@font-face {
   font-family: 'UhBeeSeulvely';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'UhBeenamsoyoung';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeenamsoyoung.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}