@charset "utf-8";
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    width: auto;
    height: 100px;
    background-color: rgb(100, 100, 100);
}

body, a{
    font-family: 'GmarketSansMedium';
    text-decoration: none;
}

.search_box{
    height: 40px;
    width: 150px;
    border: 1px solid #1b5ac2;
    background: #fff;
}

.search_box input{
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0;
    outline: none;
    float: left;
}

.top .logo{
    width: 100px;
    padding-left: 20px;
    padding-top: 16.5px
}
.top button, .top .menu_btn{
    width: 20px;
    height: 20px;
}

.top button{
    background-color: transparent;
    border: transparent;
}

/* .top div h4, textarea{
    float: right;
} */

.top h4, a, .logo{
    display: inline;
}

.top textarea{
    text-align: left;
}

.top h4, a{
    color: white;
}

.top div{
    display: inline;
    float: right;
    margin: 35px 20px 35px 0;
    /* vertical-align: middle; */
}
