@charset "utf-8";
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    width: auto;
    height: 100px;
    background-color: rgb(100, 100, 100);
}

body, a{
    font-family: 'GmarketSansMedium';
    text-decoration: none;
}

.top img{
    width: 60px;
}
.top button, .top img{
    width: 20px;
    height: 20px;
}

.top button{
    background-color: transparent;
    border: transparent;
}

/* .top div h4, textarea{
    float: right;
} */

.top h4{
    display: inline;
    
}
.top textarea{
    text-align: left;
}