@charset "utf-8";

html{
    height: 500px;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}
body div.vmap{
    z-index: -1;
}

body input.imgbtn{
    background: url(자료/로고_초안.png) no-repeat black;
    border: none;
    width: 50px;
    height: 30px;
    cursor: pointer;

    z-index: 5;
}

/* body input.btn{
    background: #fff;
    border: none;
    margin: 0 auto;
    width: 32px;
    height: 25px;
    cursor: pointer;

    z-index: 1;
} */