@charset "utf-8";

html{
    height: 500px;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}
body div.vmap{
    z-index: -1;
}

body input.imgbtn{
    border: none;
    
    cursor: pointer;
    width: 15%;
    z-index: 5;
}

/* body input.btn{
    background: #fff;
    border: none;
    margin: 0 auto;
    width: 32px;
    height: 25px;
    cursor: pointer;

    z-index: 1;
} */