@charset "utf-8";
/* Info PJ 공통 CSS - common.css */

/* 박스공통 */
.part {
    width: 750px;
    border: 4px double #10d544;
    padding: 10px;
    margin: 20px auto;

    box-sizing: border-box;

    border-radius: 10px;
}

/* 상단영역 */
header {
    height: 150px;
    text-align: center;
    background-color: #e5fbe6;
}

/* 타이틀 */
header h1 {
    font-size: 50px;
    font-weight: normal;
    font-family: 'Black And White Picture', sans-serif;
    color: rgb(4, 93, 4);
    letter-spacing: 2px;
    line-height: 70px;
    word-spacing: 10px;
    margin: 0;
}

/* 메뉴 GNB */
#gnb>a {
    color: navy;
    text-decoration: none;

    font: bold 20px/40px 'Nanum Gothic';

    margin: 0 5px;
}

/* 마우스 오버시 */
#gnb>a+a:hover {
    color: hotpink;
    text-decoration: overline;
}

/* 로고링크 */
#gnb img {
    width: 30px !important;

    vertical-align: -9px;

    margin-right: -9px;
}

/* 하단영역 */
footer.info {
    text-align: center;
    background-color: #eeeeee;
}

/* 주소요소 */
.info address {
    font-style: normal;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    line-height: 2;
    color: #222;
}

/* 이름만 구분한 span요소 */
.info address span {
    font-family: 'Black And White Picture', sans-serif;
    color: blue;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-style: dotted;
}