@charset "utf-8";

/* Info PJ sub page CSS - sub.css */

/* 공통 클래스 불러오기 */
/* 
    import로 파일 합치기

    외부 CSS파일에서 다른 외부 CSS파일을 import방식으로 불러올 때 장점?
    - html파일에서 link 요소로 호출할 경우 http request(웹 요청)이 많아져서 페이징 렌더링 속도 지연
    -> 한 번에 여러 파일을 불러올 수 O
*/

/* @import url(); */
@import url(common.css);

article,
.arti,
.rinfo,
.org {
    font-family: 'GmarketSansMedium', sans-serif;
}

a {
    text-decoration: none;
}

/* 2-1. 언론사로고 */
.prlogo img {
    /* 높이 */
    height: 32px;
}

/* 2-2. 기사제목 */
.atit {
    font-size: 30px;
    font-weight: normal;
    font-family: 'GmarketSansMedium', sans-serif;
    letter-spacing: -2px;
    word-spacing: -1px;
    /* white-space: nowrap; */
}

/* 2-3. 기사사진(+사진설명) */
.afig {
    margin: 15px 0;
    text-align: center;
}

.afig img {
    max-width: 100%;
    /* width: 100%; */
}

/* small */
.afig small {
    font-family: 'GmarketSansMedium', sans-serif;
    color: #555;
}

/* 2-4. 기사내용 */
.arti p{
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    padding: 0 10px;
}

mark {
    display: block;
    background-color: #eaeaea;
    text-align: center;
    line-height: 3;
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ccc;
}
.arti i{
    font-style: normal;
    font-weight: bold;
}

.arti q{
    color: darkgreen;
    font-weight: bold;
}

.arti bdo{
    text-decoration: line-through;
}

/* 2-5. 기자정보 */
.rinfo{
    padding: 10px;
    font-size: 14px;
}

/* 2-6. 기사원문 */
.org a{
    padding: 10px;
    font-size: 20px;
    color: lightcoral;
    border: 2px dashed lightgreen;
}

.main article{
    border-top: 2px dashed #ccc;
    margin-top: 40px;
    padding: 15px;
}

.main h3{
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: normal;
    font-size: 25px;
    padding-left: 20px;
}

.bquote blockquote{
    margin: 0;
    padding: 5px;
    overflow: hidden;

    font: 17px/1.5 'GmarketSansMedium';
    text-align: justify;
    text-indent: 10px;
}

.bquote img{
    float: left;
    border-radius: 5px;
    margin-right: 22px;
}

.main .desc{
    border-bottom: 2px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.desc small{
    display: block;
    padding: 0 20px;
}